@import 'reset.scss'

body
  font-family: 'Helvetica Neue', helvetica, sans-serif
  background: #1d1f21 url("/images/jq_bg.png")
  color: #d2d8e3
  text-shadow: 0 2px 1px #000

#wrapper
  padding: 100px

p
  font-weight: bold
  margin: 0 0 40px 0
  code
    font-weight: bold
    font-size: 1.1em
    background: #31363b
    padding: 2px 4px
    margin: 0 4px
    text-shadow: 0 1px 1px #000
  a
    text-decoration: none
    color: #e42929
    &:hover
      text-decoration: underline

hgroup
  margin: 0 0 40px 0
  font-family: "chunk-1","chunk-2", 'Helvetica Neue', helvetica, sans-serif
  h1
    font-size: 80px
    span
      color: #e42929
  h2
    font-size: 40px
  form
    label
      font-size: 14px
    + form

h3
  font-weight: bold
  margin: 0 0 20px 0

