%html
  %head
    %title jQuery.minical
    %meta(name="google-site-verification" content="LbO-bgq1ZuoWvrDWyPcah40BdJq5949XIelRIGjS9ZA")
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %link(rel="stylesheet" href="/stylesheets/jquery.minical.css")
    %link(rel='icon' type='image/png' href='/favicon.png')
    %script(type="text/javascript" src="/javascript/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="/javascript/jquery.minical.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %script(type="text/javascript" src="http://use.typekit.com/aqp8xdq.js")
    /[if IE]
      %script(type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    :javascript
      try{Typekit.load();}catch(e){}
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
  %body
    #wrapper
      #social
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="right:10px;top:10px;">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_preferred_5"></a>
        <a class="addthis_button_preferred_6"></a>
        <a class="addthis_button_compact"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fad554c32392cd8"></script>
        <!-- AddThis Button END -->
      %header
        %h1<>
          jQuery
          %span<> .minical
        %h2 a lightweight datepicker plugin
        %p
          by
          %a(href="http://camerondaigle.com") Cameron Daigle
      %form#input_example
        %dl
          %dt
            %label Date using a text input:
          %dd
            %input(type="text" value="12/21/2012")
            %a(href="#" class="calendar_icon")
      %form#dropdown_example
        %dl
          %dt
            %label Date using dropdowns:
          %dd
            %select.month
              - ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].each_with_index do |month, i|
                %option{:value => i+1}= month
            %select.day
              - (1..31).each do |n|
                %option(value=n)= n
            %select.year
              - 2011.downto(1901) do |n|
                %option(value=n)= n
            %a(href="#" class="calendar_icon")
      %article#readme= markdown @readme