/*
----------------------------------------
Tantek Celik's Whitespace Reset
     Author:  	Tantek Celik, Shane Riley, and Cameron Daigle (font weight! COME ON)
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em;
  font-weight: normal; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup {
  display: block; }

a {
  text-decoration: none; }

body {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  color: #373b43;
  text-shadow: 0 1px 1px #fff;
  background: #e9e4d7 url("../images/jq_bg.png"); }
  body::before {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    width: 100%;
    height: 100px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #eae6d9, #f13937);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f13937), to(#eae6d9));
    content: "";
    z-index: 1; }

#wrapper {
  position: relative;
  padding: 70px;
  z-index: 2;
  max-width: 1000px;
  margin: 0 auto; }
  @media screen and (max-width: 850px) {
    #wrapper {
      padding: 20px; } }

a {
  text-decoration: none;
  color: #f13937; }
  a:hover {
    color: #be0604; }

code {
  font-weight: bold;
  background: #efece4;
  padding: 1px 4px;
  margin: 0 4px; }

header h1 {
  font-size: 80px;
  font-family: "chunk-1", "chunk-2", "Helvetica Neue", helvetica, sans-serif; }
  header h1 span {
    color: #f13937; }
  @media screen and (max-width: 850px) {
    header h1 {
      font-size: 50px; } }
  @media screen and (max-width: 480px) {
    header h1 {
      font-size: 30px; } }
header h2 {
  font-size: 40px;
  font-family: "chunk-1", "chunk-2", "Helvetica Neue", helvetica, sans-serif;
  margin: 0 0 20px 0; }
  @media screen and (max-width: 850px) {
    header h2 {
      font-size: 20px; } }
header p {
  font-weight: bold;
  margin: 0 0 40px 0; }

form {
  margin: 0 60px 40px 0;
  float: left; }
  @media screen and (max-width: 480px) {
    form {
      float: none;
      margin-right: 0;
      overflow: hidden; } }
  form label {
    font-weight: bold;
    display: block;
    margin: 0 0 5px 0; }
  form select {
    float: left;
    margin: 4px 5px 0 0; }
  form a.calendar_icon {
    cursor: pointer;
    display: inline-block;
    margin: 5px 0 0 0;
    width: 16px;
    height: 16px;
    background: url("../images/icon_calendar.png"); }
  form input {
    display: inline-block;
    margin: 0 5px 10px 0;
    padding: 0 5px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    width: 140px;
    border: 1px solid #a9a497; }

#readme {
  clear: both;
  font-weight: normal; }
  #readme h1 {
    display: none; }
  #readme h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px 0; }
  #readme h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 20px 20px; }
  #readme p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 20px 0;
    padding: 0 40px; }
  #readme ul {
    margin: 0 0 20px 0;
    padding: 0 40px;
    font-size: 13px;
    line-height: 20px; }
    #readme ul ul {
      padding: 0 20px;
      margin: 0; }
  #readme p + ul {
    padding-left: 60px;
    padding-right: 60px; }
  @media screen and (max-width: 480px) {
    #readme h3 {
      margin-left: 0; }
    #readme p, #readme ul, #readme p + ul {
      padding: 0; }
    #readme ul ul {
      padding: 0 10px; } }
