%html
  %head
    %title jQuery.minical
    = javascript_include_tag 'jquery-2.0.3.min', 'jquery.minical', 'demo'
    = stylesheet_link_tag 'application', 'jquery.minical'
    %link(rel='icon' type='image/png' href='favicon.png')
    %script(type="text/javascript" src="http://use.typekit.com/aqp8xdq.js")
    :javascript
      try{Typekit.load();}catch(e){}
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
  %body
    #wrapper
      %header
        %h1<>
          jQuery
          %span<> .minical
        %h2 a lightweight datepicker plugin
        %p
          by
          %a(href="http://camerondaigle.com") Cameron Daigle
      %form
        %dl
          %dt
            %label Pick a date:
          %dd
            %input(type="text")
            %a(href="#" class="calendar_icon")
      %article#readme= partial 'documentation'
    :javascript
      $("form :text").minical({
        trigger: "a.calendar_icon"
      });
    - if build?
      :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-308731-15']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
