%html
  %head
    %title jQuery.minical Test Suite
    = javascript_include_tag 'vendor/jquery-2.1.1.min', 'vendor/qunit', 'jquery.minical', 'suite'
    = stylesheet_link_tag 'vendor/qunit', 'jquery.minical'
  %body
    #qunit
    #qunit-fixture
      .calendar
        %label Test Calendar 1
        %input(type="text")
        %a.trigger(href="#") trigger
